@use "../abstracts/variables" as var;

body {
  width: 100vw;
  height: 387.2rem;
  position: relative;
  background-color: var.$color-black;
  overflow-x: hidden;

  @media (max-width: 1110px) {
    height: 356.3rem;
  }

  @media (max-width: 414px) {
    height: 501.3rem;
  }
}

.rings {
  width: 53rem;
  height: 12.9rem;
  z-index: 100;
}

.rings-1 {
  position: absolute;
  left: -10rem;
  top: 13.3rem;

  @media (max-width: 1110px) {
    left: -26.5rem;
    top: 8.6rem;
  }

  @media (max-width: 414px) {
    left: -43.2rem;
    top: 12.4rem;
  }
}

.rings-2 {
  position: absolute;
  right: -23.9rem;
  top: 107.7rem;

  @media (max-width: 1110px) {
    right: -33.2rem;
    top: 104.7rem;
  }

  @media (max-width: 414px) {
    right: -34.4rem;
    top: 128.7rem;
  }
}

.rings-3 {
  position: absolute;
  left: -20.5rem;
  top: 352.4rem;

  @media (max-width: 1110px) {
    left: -36.8rem;
    top: 330.4rem;
  }

  @media (max-width: 414px) {
    left: -35.9rem;
    top: 461.5rem;
  }
}

.div {
  width: 150%;
  height: 67.5rem;
  position: absolute;
  bottom: 0;
  background-color: var.$color-dark-grey;

  @media (max-width: 1110px) {
    height: 80.6rem;
  }

  @media (max-width: 414px) {
    height: 83, 4rem;
  }
}

// WRAPPER
.wrapper {
  width: 100%;
  max-width: 144rem;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  @media (max-width: 820px) {
    width: 80%;
  }

  @media (max-width: 414px) {
    width: 100%;
  }
}
