@use "../abstracts/typography";
@use "../abstracts/variables" as var;

.navbar {
  display: flex;
  justify-content: space-between;
  width: 76%;
  position: absolute;
  left: 8%;
  z-index: 100;

  @media (max-width: 1110px) {
    width: 89%;
  }

  @media (max-width: 414px) {
    flex-direction: column;
    align-items: center;
    width: 15.4rem;
    height: 7.2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__name {
    font-family: "Space Grotesk", sans-serif;
    font-size: 3.2rem;
    line-height: 3.2rem;
    letter-spacing: -0.44px;
    color: var.$color-white;

    @media (max-width: 1110px) {
      font-size: 2.4rem;
      letter-spacing: -0.33px;
    }

    @media (max-width: 414px) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 19.25rem;
    height: 2.5rem;
    list-style: none;
  }
}

.navbar-top {
  top: 4rem;

  @media (max-width: 1110px) {
    top: 3rem;
  }
}

.navbar-bottom {
  width: 111rem;
  height: 7.9rem;
  padding-top: 4.2rem;
  border-top: 1px solid gray;
  bottom: 9.2rem;

  @media (max-width: 1110px) {
    width: 89%;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
  }

  @media (max-width: 414px) {
    padding-top: 3.9rem;
    margin-bottom: 6rem;
  }
}

.icon:hover {
  filter: invert(0.4) sepia(0.5) hue-rotate(72deg) saturate(9) brightness(0.7);
  cursor: pointer;
}
